<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:websocket="http://www.springframework.org/schema/websocket"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/websocket
        http://www.springframework.org/schema/websocket/spring-websocket.xsd">

    <websocket:handlers>
        <websocket:mapping path="/term" handler="sshShellHandler"/>
        <websocket:handshake-interceptors>
            <bean class="online.webssh.websocket.intercepter.HandshakeIntercepter"/>
        </websocket:handshake-interceptors>
    </websocket:handlers>

    <bean id="sshShellHandler" class="online.webssh.websocket.SshShellHandler"/>

</beans>